
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 
115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    font-family: 'Poppins', sans-serif;
    color: wheat;
}

h1, h2{
    text-align: center;
}

h1{
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 0;
}
h2{
    margin-top: 10px;
    font-size: 18px;
}



.container{
    margin: auto;
    
background-color:rgba(27, 27, 50, 0.8);
width: 800px;
height: 100%;
padding-top: 35px;

}
label{
    font-size: 22px;
   
}
.inp{
    margin-top: 10px;
    width: 85%;
    font-size: 22px;
  
    border-radius: 5px;
    margin-bottom: 30px;
}


form{
    
    margin-left: 50px;
}
.marg{
  margin-top: 30px;
}

.checkk{
    padding: 5px;
    margin-bottom: 10px;
}

textarea{
    margin-top: 12px;
}
.tex{
    margin-top: 60px;
}

button{
    margin-bottom: 10%;
    margin-top: 5%;
   margin-left: 20%;
    background-color: green;
    color: white;
    height: 55px;
    width: 450px;
}